.box1{
background-color: aqua;
flex: 1;
order: 2;
}

.box2{
    background-color: aquamarine;
    flex: 1;
    order: 1;
}

.box3{
    background-color: bisque;
    flex: 1;
    order: 3;
}

.container{
    display: flex;
    flex-direction: row;
    
}
p{
    padding: 10px;
}







.outterbox{
    /* background-color: rgb(239, 184, 112); */
    display: flex;
    /* flex-direction: column; */
    border: 2px solid red;
    padding: 10px;
    height: 400px;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* flex-wrap: wrap-reverse; */
    
   
}

.block1{
    width: 100px;
    height: 100px;
    background-color:  blue;
    border: 2px solid white;
    /* flex-shrink: 0; */
    flex-grow:1.5;
    /* flex-basis: 1;
     */
}

.block2{
    width: 100px;
    height: 100px;
    background-color:  blue;
    border: 2px solid white;
    flex-grow: 3;
    /* flex-basis: 1; */

}

.block3{
    width: 100px;
    height: 100px;
    background-color:  blue;
    border: 2px solid white;

}

.block4{
    width: 100px;
    height: 100px;
    background-color:  blue;
    border: 2px solid white;

}

.block5{
    width: 100px;
    height: 100px;
    background-color:  blue;
    border: 2px solid white;

}