body{
    background-color: antiquewhite;
}

.container{
    background-color: blue;
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: grid;
    /* grid-template-columns: 200px auto 500px; */
    /* grid-template-columns: repeat(5,1fr); */
    /* grid-template-columns: minmax(200px,1fr) 1fr 1fr; */
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));;
    column-gap: 20px;
    row-gap: 20px;
   
}
.container .box{
    background-color: rgb(135, 48, 29);
    /* text-align: center; */
    display: grid;
    justify-content: center;
    align-items: center;
   
}