.outterlayer{
    background-color: steelblue;
    width: 500px;
    height: 300px;
    margin-top: 100px;
}

.innerLayer{
    /* position: static; */
    position: relative;
    bottom: 300px;
    left: 470px;
}

.outterBox{
    background-color: aqua;
    width: 400px;
    height: 300px;
    position: relative;
    
}

.innerBox{
    background-color: black;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 150px;
}

/* .upperBox{
    background-color: burlywood;
    width: 500px;
    height: 500px;
    position: relative;
} */


/* fixed */

/* .blue{
    background-color: blue;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
} */

.yellow{
    background-color: yellow;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0px;
    bottom: 0px;
}


