.container{
    margin: 20px;
}

.header{
    display: flex;
    border-bottom: 2px solid gray;
    
}
.header h3{
    display: flex;
    flex: 1;
    justify-content: center;
    
}
.header img{
 /* display: flex; */
 /* flex-direction: column; */
 /* flex: 1; */
 /* width: 30px; */
 width: 30px;
 height: 30px;
 /* justify-content: center; */
 align-self: center;
}

.left ul{
    list-style-type: none;
    
}
.left ul li a{
    text-decoration: none;
}

.left{
    background-color: #f2f2f2;
}

.right ul{
    list-style-type: none;
}
.right ul li a{
    text-decoration: none;
}

.layout{
    display: flex;
}

.left{
    flex: 1;
   border-radius: 10px;
}
.main{
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.right{
    flex: 1;
    border-left: 1px solid gray;
}

.left h4{
    padding-left: 20px;
}
.right h4{
    padding-left: 20px;
}
.layout{
    padding: 20px;
}

.main img{
    width: 400px;
    border-radius: 10px;
   align-self: center;

}
.main h3{
    align-self: center;
}
