*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 57%;
    /*border: 1px solid black;*/
    height: 200%;
    margin: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.head4{
   
    border-top: 1px solid #ebebeb;
    width: fit-content;
}
.head4 a{
    color: red;
}
.header {
    margin: 25px;
    
}
.header h1 a{
    color: black;
}
.header a{
 text-decoration: none;
}
.navbar ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: black;
    border-bottom: 5px solid #e22d30;
}
.navbar ul a{
    padding: 10px 16px;
    color: white;
    display: block;
    text-decoration: none;
    border-left: 1px solid rgb(90, 88, 88,.7);
    font-weight: bold;
}
.navbar ul a:hover{
    background-color: #e22d30;
}

.littlediv{
    margin: 25px;
    border-bottom: 1px solid #d4cfcf;
    padding-bottom: 25px;
}
.timing{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.timing p{
    margin-left: 10px;
    color: #666;
}

.fa-clock{
    color: #666; 
}

.mainhead{
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
}

.mainhead:hover{
    color: #e22d30;

}

.mainpara{
    margin-top: 10px;
}

.firstpagebtn{
    width: 50px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    color: white;
    background-color: #e22d30;
    border: none;
}

.fa-angles-right{
    /* border: 1px solid #d4cfcf; */
    text-align: center;
    padding: 19px;
    padding-top: 20px;
    font-size: 12px;
    border: none;
    background-color: #d1cbcb;
   
}

.bottomNav{
    margin: 25px;
}

/*dharshini */
body {
    padding: 10px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: rgb(252, 244, 244)
    
}
.mainContent {
    display: flex;
    flex:2;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 0px;
}
.box {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding:20px;
    background-color: #f5efefe1;
    margin: opx;
}
.box input {
    border: none;
    padding; 10px 20px;
    width: 100%
}
.sidebar {
    flex: 1;
    padding: 15px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0px;   
}
.sidebar ul li a {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px dotted rgb(102, 86, 86, 60%);
    padding-bottom: 10px;
    padding-top: 10px;
   
}
.sidebar ul li a:hover {
      color: rgb(233, 85, 82);
      
}
.sidebar h4 {
    border-bottom: 3px solid red;
    padding: 0 0 8px 0;

}
.footer {
    background-color: black;
    padding-top: 0px;
    padding-bottom: 1px;
    border-top: 2px solid #999;
}
.footer p {
    text-decoration: none;
    color: rgb(161, 134, 134);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button {
   padding: 20px;
}
.button1 {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
}
.button2 {
    padding: 8px;
    border: none;
}
.button1:hover {
    background-color: red;;
}
.button2:hover{
    background-color: red;
}
.main h5 img {
    width: 10px;
    height: 10px;
    padding-right: 5px;
}
.main h5 {
    font-weight: 100;
   
}
.bold {
    color: white;
}
.layout{
    display: flex;
}
/* list style */
.about{
    margin:20px 10px 10px 25px;
    justify-content: center;
}
.about p{
    padding: 10px 0px 10px 0px;
}
.about .timing{
    padding-bottom: 10px;
}
.about ul{
    list-style-type:square;
    padding-left:20px ;
   
}

ol{
    padding-left: 40px;
}
.get ul{
    padding:5px 0px 0px 35px ;
}
span{
    color: #f1090d;
}
.sudo{
    margin: 15px 40px 15px 0px;
    padding: 15px;
    background-color: black;
    color: white;
}
.sudo p{
    padding: 10px;
}
table{
  width: 250px; 
  border-collapse: collapse;
 
}
table,td, th{
    padding: 5px;
    border:1px solid white;
}
table,td{
    text-align: center;
}
